<%- include('./partials/head') %>

<main>
    <section class="heading">
        <img src="/static/img/FDND-logo.jpeg">
        <h1>Dit is FDND</h1>
        <p>Hallo! Neem een kijkje bij alle studenten van de opleiding FDND.</p>
        <div class="button-row">
            <button class="btnA squadBTN">SQUAD A</button>
            <button class="btnB squadBTN">SQUAD B</button>
            <button class="btnC squadBTN">SQUAD C</button>
        </div>
    </section>
    <section class="profile-grid">
        <div class="container">
            <div class="item student-card">
                <div class="inner-card">
                    <div class="card-header">
                        <img class="student-img" src="/static/img/FDND-logo.jpeg">
                    </div>
                </div>
            </div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </section>
</main>

<%- include('./partials/foot') %>
